* {
          margin: 0px;
          font-family: 'Work Sans', sans-serif;
}

/* header */
header {
          margin-top: -29px;
          height: 1260px;
          width: 1903px;
          background-color: rgb(247 241 232);

}

nav {
          display: flex;
          justify-content: space-between;

          margin-left: 80px;
          margin-right: 80px;

}

nav h1 {
          font-size: 35px;
          font-weight: bold;
          margin-top: 60px;
}

nav ul {
          margin-top: 60px;
          list-style: none;
          display: flex;
          justify-content: center;
          align-items: center;

}

nav ul li {
          padding: 18px;
}

.after-nav {
          /* justify-content: center;
          align-items: center; */
          height: 225px;
          width: 862px;
          margin-left: 498px;
          margin-top: 138px;


}

.after-nav h1 {
          text-align: center;
          font-size: 57px;
}

.after-nav p {
          text-align: center;
}

.button {
          /* align-items: center;
          justify-content: center; */
          height: 64px;
          width: 180px;
          margin-left: 339px;
          margin-top: 23px;
          border-radius: 8px;
          color: white;
          background-color: orange;
          font-weight: bold;
          border: none;
          font-size: 20px;

}

.banner img {
          height: 657px;
          width: 1210px;
          margin-left: 314px;
          margin-top: 76px;


}

/* features part */
.items {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 700px;
          margin-left: 100px;
          margin: 130px;
}

.items1 {
          text-align: center;
          width: 700px;
          margin-top: 400px;
          height: 250px;

}

.head-line {
          color: rgb(187, 183, 183);
}

.head-line1 {
          color: orange;
          margin-bottom: 10px;
}

.items1-paragraph {
          margin-bottom: 20px;

}

.features {
          display: flex;
}

.button1 {
          border-radius: 8px;
          color: white;
          background-color: orange;
          font-weight: bold;
          border: none;
          font-size: 20px;
          height: 64px;
          width: 180px;
}

/* second features */


.second-features {
          height: 1059px;
          width: 1440px;
          margin-left: 292px;
          gap: 54px;
          display: flex;



}

.second-features1 {
          height: 982px;
          width: 586px;
          left: 118px;
          margin-top: 10px;
          border-radius: 8px;

}

.head-line2 {
          margin-bottom: 15px;
}

.second-features-headline {
          margin-bottom: 20px;
          font-weight: bold;
          font-size: 40px;
}

.second-features-paragraph {
          margin-bottom: 60px;
}

.second-features-inner1 {
          background-color: rgb(252, 252, 252);
          height: 87px;
          width: 586px;
          left: 118px;

          border-radius: 8px;
          padding: 50px 30px;



}

.second-features-inner2 {
          background-color: rgb(252, 252, 252);
          height: 87px;
          width: 546px;
          left: 118px;

          border-radius: 8px;
          gap: 10px;
          margin-top: 10px;
          padding: 50px 30px;
}

.second-features-inner3 {
          background-color: rgb(252, 252, 252);
          height: 87px;
          width: 546px;
          left: 118px;

          border-radius: 8px;
          gap: 10px;
          margin-top: 10px;
          padding: 50px 30px;
}

.second-features-inner4 {
          background-color: rgb(252, 252, 252);
          height: 87px;
          width: 546px;
          left: 118px;

          border-radius: 8px;
          gap: 10px;
          margin-top: 10px;
          padding: 50px 30px;
}

.second-features2 {
          height: 1059px;
          width: 800px;
          left: 758px;
          /* top: 2221px; */
          border-radius: 8px;

}

.button2 {
          height: 152px;
          width: 255px;
          margin-left: 850px;
          /* top: 3080px; */
          border-radius: 8px;
          /* margin-top: px; */


}

/* some facts */
.some-facts {
          height: 280px;
          width: 850px;
          margin-left: 575px;
          /* left: -344px;
top: -308px; */
          border-radius: 0px;


}

.some-facts2 {
          display: flex;
          padding: 20px 0px;
          justify-content: space-evenly;
          
}

.some-facts3 {
          gap: 10px;
          padding: 10px 10px;
          height: 114px;
          width: 147px;
          /* left: 1263.915283203125px;
top: 3663.084716796875px; */
          border-radius: 8px;
          border: 1px solid orange;

}
.some-facts3-1 {
          gap: px;
          padding: 10px 10px;
          height: 114px;
          width: 147px;
          /* left: 1263.915283203125px;
top: 3663.084716796875px; */
          border-radius: 8px;
          border: 1px solid orange;

}
.some-facts3-2 {
          gap: 10px;
          padding: 10px 10px;
          height: 114px;
          width: 147px;
          /* left: 1263.915283203125px;
top: 3663.084716796875px; */
          border-radius: 8px;
          border: 1px solid orange;

}.some-facts3-3 {
          justify-content: space-between;
          padding: 10px 10px;
          height: 114px;
          width: 147px;
          /* left: 1263.915283203125px;
top: 3663.084716796875px; */
          border-radius: 8px;
          border: 1px solid orange;

}




/* Our Sponsors */
.sponsors{
          margin-top: 23px;
          
          padding: 20px 0px;
          /* width: 800px; */
}
.sponsors1{
          width: 500px;
          margin-left: 770px;
}
.sponsors-headline{
          
          font-size: 50px;
}
.sponsors-paragraph{
          margin-top: 20px;
}
.sponsors2{
          display: flex;
          margin-top: 40px;
          justify-content: space-evenly;
          margin-left: 100px;
          margin-right: 100px;

}
.sponsors3 {
          color: rgb(194, 190, 190);
}
.img{
          color: rgb(194, 190, 190); 
}
/* extra-section */
.extrapart{
          background-color: rgb(148, 143, 143);
          height:561px ;
          width: 1000px;
          border-radius: 15px;
          margin-left: 442px;
          margin-top: 100px;
}
.extra-section{
          width: 900px;
          height: 494px;
          /* margin-left: 772px; */
          /* margin-top: 100px; */
          padding: 30px 40px;
}
.extra-section1{
          margin-left: 300px;
          margin-top: 80px;
}

.extra-section2{
          display: flex;
          justify-content: space-around;
          margin-top: 59px;
}
.extra-section2-1{
          margin-top: -23px;
}
.extra-section3{
          margin-top: 25px;
          border-radius: 6px;
          /* padding: 10px 0px; */
         
}
.extra-section4{
          border-radius: 6px;
          
}
input{
          padding: 20px 20px;
          border-radius: 8px;
          border: white;
}
textarea{
          padding: 30px 30px;
          border-radius: 8px;
}
.extrapart-end{
          margin-top: 26px;
          margin-left: 353px;
          padding: 12px;
          border-radius: 8px;
          background-color: orange;
          color: white;
          border: none;

}


/* footer */
.lastpart{
          margin-top: 126px;
          margin-bottom: 200px;
          background-color: antiquewhite;
          padding: 20px;
          /* width: 900px; */
          /* margin-left: 513px; */
          text-align: center;
          margin-right: 50px;
          margin-left: 50px;
          border-radius: 10px;
}