* {
          margin: 0px;
          font-family: 'Work Sans', sans-serif;
}

/* header */
header {
          margin-top: -29px;
          height: 1260px;
          width: 1903px;
          background-color: rgb(247 241 232);

}

nav {
          display: flex;
          justify-content: space-between;

          margin-left: 80px;
          margin-right: 80px;

}

nav h1 {
          font-size: 35px;
          font-weight: bold;
          margin-top: 60px;
}

nav ul {
          margin-top: 60px;
          list-style: none;
          display: flex;
          justify-content: center;
          align-items: center;

}

nav ul li {
          padding: 18px;
}

.after-nav {
          /* justify-content: center;
          align-items: center; */
          height: 225px;
          width: 862px;
          margin-left: 498px;
          margin-top: 138px;


}

.after-nav h1 {
          text-align: center;
          font-size: 57px;
}

.after-nav p {
          text-align: center;
}

.button {
          /* align-items: center;
          justify-content: center; */
          height: 64px;
          width: 180px;
          margin-left: 339px;
          margin-top: 23px;
          border-radius: 8px;
          color: white;
          background-color: orange;
          font-weight: bold;
          border: none;
          font-size: 20px;

}

.banner img {
          height: 657px;
          width: 1210px;
          margin-left: 314px;
          margin-top: 76px;


}

/* features part */
.items {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 700px;
          margin-left: 100px;
          margin: 130px;
}

.items1 {
          text-align: center;
          width: 700px;
          margin-top: 400px;
          height: 250px;

}

.head-line {
          color: rgb(187, 183, 183);
}

.head-line1 {
          color: orange;
          margin-bottom: 10px;
}

.items1-paragraph {
          margin-bottom: 20px;

}

.features {
          display: flex;
}

.button1 {
          border-radius: 8px;
          color: white;
          background-color: orange;
          font-weight: bold;
          border: none;
          font-size: 20px;
          height: 64px;
          width: 180px;
}

/* second features */


.second-features {
          height: 1059px;
          width: 1440px;
          margin-left: 292px;
          gap: 54px;
          display: flex;



}

.second-features1 {
          height: 982px;
          width: 586px;
          left: 118px;
          margin-top: 10px;
          border-radius: 8px;

}

.head-line2 {
          margin-bottom: 15px;
}

.second-features-headline {
          margin-bottom: 20px;
          font-weight: bold;
          font-size: 40px;
}

.second-features-paragraph {
          margin-bottom: 60px;
}

.second-features-inner1 {
          background-color: rgb(252, 252, 252);
          height: 87px;
          width: 586px;
          left: 118px;

          border-radius: 8px;
          padding: 50px 30px;



}

.second-features-inner2 {
          background-color: rgb(252, 252, 252);
          height: 87px;
          width: 546px;
          left: 118px;

          border-radius: 8px;
          gap: 10px;
          margin-top: 10px;
          padding: 50px 30px;
}

.second-features-inner3 {
          background-color: rgb(252, 252, 252);
          height: 87px;
          width: 546px;
          left: 118px;

          border-radius: 8px;
          gap: 10px;
          margin-top: 10px;
          padding: 50px 30px;
}

.second-features-inner4 {
          background-color: rgb(252, 252, 252);
          height: 87px;
          width: 546px;
          left: 118px;

          border-radius: 8px;
          gap: 10px;
          margin-top: 10px;
          padding: 50px 30px;
}

.second-features2 {
          height: 1059px;
          width: 800px;
          left: 758px;
          /* top: 2221px; */
          border-radius: 8px;

}

.button2 {
          height: 152px;
          width: 255px;
          margin-left: 850px;
          /* top: 3080px; */
          border-radius: 8px;
          margin-top: 800px;

}